<form [formGroup]="createPostForm" (ngSubmit)="submitCreatePost()" class="needs-validation" autocomplete="off">
  <label for="titleInput">Title:</label>
  <input type="text"
         class="form-control"
         formControlName="title"
         id="titleInput"
         [class.is-invalid] = "title.invalid && title.touched"
         [class.is-valid] = "title.valid && title.touched"/>
  <div *ngIf="title.invalid && title.touched"
       class="invalid-feedback text-danger">
    <div *ngIf="title.errors?.['required']">Title is required</div>
    <div *ngIf="title.errors?.['minlength']">Title must be at least 5 characters long</div>
    <div *ngIf="title.errors?.['maxlength']">Title must be no longer than 100 characters</div>
  </div>

  <label for="categorySelect">Category:</label>
  <select type="text"
          class="form-control"
          formControlName="categoryId"
          id="categorySelect"
          [class.is-invalid] = "categoryId.invalid && categoryId.touched"
          [class.is-valid] = "categoryId.valid && categoryId.touched">
    <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
  </select>
  <div *ngIf="categoryId.invalid && categoryId.touched && categoryId.errors?.['required']"
       class="required-category-feedback text-danger">Category is required</div>

  <label for="contentTextarea">Content:</label>
  <textarea class="form-control"
            formControlName="content"
            id="contentTextarea"
            [class.is-invalid] = "content.invalid && content.touched"
            [class.is-valid] = "content.valid && content.touched"></textarea>
  <div *ngIf="content.invalid && content.touched && content.errors?.['required']"
       class="invalid-feedback text-danger">Content is required</div>
  <div class="d-flex justify-content-end pt-4">
    <button type="button" class="btn btn-outline-danger" [routerLink]="['/']">Close</button>
    <button type="submit" class="btn btn-success">Post message</button>
  </div>
</form>
